.dicamp-header {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  border-top: 1px solid gold !important;
  margin-top: -1px !important;
  background: linear-gradient(80deg, #E8129F 0%, #1511EC 100%),  url("../../assets/header_background.png");
  // &::after {
  //   background: url("../../assets/header_background.png"), lightgray 50% / cover no-repeat;
  //   mix-blend-mode: multiply;
  // }
  .dicamp-header_img {
    width: 710px;
    height: 620px;
    position: absolute;
    object-fit: cover;
    bottom: 0;
    @media (max-width: 1454px) {
      width: 610px;
      height: 520px;
    }
  }
  .dicamp-header_nav_ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    height: 180px;

    .dicamp-header_nav_ul_span {
      max-width: 90px;
      color: #FFF;
      font-family: Circe;
      font-size: 14.752px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      text-transform: uppercase;
    }
    .dicamp-header_nav_ul_link {
      // color: #EAD61E;
      color: #FFF;
      font-family: Circe;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      text-decoration: none;
    }
    .dicamp-header_nav_ul_img {
      width: 79.231px;
      height: 51.478px;
    }
    .dicamp-header_nav_ul_logo-cluster {
      width: 180.34px;
      display: flex;
      justify-content: space-between;
    }
    .dicamp-header_nav_ul_links {
      width: 320px;
      display: flex;
      justify-content: space-between;
    }
  }

  .prices-info {
    display: flex;
    justify-content: end;
    background: #EAD61E;
    height: 180px;
    flex-shrink: 0;

    .prices-info_span {
      max-width: 595px;
      color: #000;
      font-family: Angry;
      font-size: 60px;
      font-style: normal;
      font-weight: 400;
      line-height: 60px;
      margin-left: 0;
      padding-top: 35px;
    }
    .prices-info_img {
      position: relative;
      top: 70px;
      margin-right: 100px;
    }
  }
  .conteiner-for-info {
    display: flex;
    justify-content: center;
  }

  .dicamp-header_stores-info {
    display: flex;
    width: 75%;
    justify-content: end;
    .stores-info_conteiner {
      z-index: 999;
    }
    .dicamp-header_stores-info_p-info {
      max-width: 459px;
      color: #FFF;
      font-family: Circe;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      margin-top: 60px;
    }
    .dicamp-header_stores-info_p-download {
      color: #FFF;
      font-family: Circe;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: 1.4px;
      text-transform: uppercase;
      margin-top: 49px;
    }
    .dicamp-header_stores-info_mob-icons_google, .dicamp-header_stores-info_mob-icons_apple {
      width: 171.99px;
      height: 50.96px;
    }
    .dicamp-header_stores-info_mob-icons_apple {
      margin-left: 20px;
    }
    .dicamp-header_stores-info_qr {
      width: 140px;
      height: 140px;
      margin-top: 95px;
    }
  }
  .dicamp-header_present2 {
    position: absolute;
    width: 176px;
    bottom: 0;
    right: 350px;
    z-index: -1;
  }
  .business_button {
    all: unset;
    color: #EAD61E;
    font-family: Circe;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    cursor: pointer;
    border-radius: 30px;
    border: 2px solid #EAD61E;
    padding: 12px 28px 12px 28px;
    &:hover {
      color: #000;
      background: #EAD61E;
    }
  }
}