.dicamp-footer {
    background-color: black;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    border-top: 1px solid rgb(0, 0, 0) !important;
    margin-top: -1px !important;
    .dicamp-footer_ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        color: white;
        .dicamp-footer_ul_img {
            width: 79.231px;
            height: 51.478px;
            flex-shrink: 0;
            margin-right: 10px;
        }
        .dicamp-footer_ul_div {
            display: flex;
            width: 100%;
            justify-content: center;
            .dicamp-footer_ul_link {
                margin-left: 15px;
                
                text-decoration: none;
                color: white;
                &:hover {
                    color: yellow;  
                }
            }
        }
    }
}