.business {
  height: 2689px;
  background: linear-gradient(0deg, #522AE1 0%, #522AE1 100%), linear-gradient(0deg, #8311C4 0%, #8311C4 100%), #F3F2FD;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .business_for-business {
    display: flex;
    justify-content: space-evenly;
    .business_for-business_text {
      display: flex;
      flex-direction: column;
      .business_for-business_text_h2 {
        color: #000;
        font-family: Angry;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        max-width: 424px;
        .business_for-business_text_h2_span1 {
          display: inline-block;
          transform: rotate(1deg);
          background: #EAD61E;
        }
        .business_for-business_text_h2_span2 {
          display: inline-block;
          transform: rotate(-1deg);
          background: #EAD61E;
        }
      }
    }
    .business_for-business_text_ul {
      list-style-type: none;
      .business_for-business_text_ul_li {
        max-height: 190px;
        color: #000;
        font-family: Angry;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 84px */
        & span {
          background-color: yellow;
        }
      }
    }
    
    .business_for-business_ul {
      list-style-type: none;
      .business_for-business_ul_li {
        display: flex;
        align-items: center;
        gap: 20px;
        align-self: stretch;
        & span {
          color: #FFFFFF;
          font-family: Circe;
          font-size: 26px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 36.4px */
        }
      }
    }

    .business_for-business_img {
      // width: 645px;
      // height: 709px;
    }
  }
//************************************************************************************************// 
  .business_suggest {
    display: flex;
    align-items: center;
    flex-direction: column;
    .business_suggest_text {
      display: flex;
      width: 60%;
      .business_suggest_text_h2 {
        display: inline-block;
        color: #000000;
        font-family: Angry;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 70px */
        transform: rotate(1deg);
        background: #EAD61E;
      }
    }
    .business_suggest_img-bg1 {
      width: 101px;
      height: 166px;
      transform: rotate(-10.695deg);
      flex-shrink: 0;
    }
    .business_suggest_img-bg2 {
      width: 176.731px;
      height: 200.453px;
      transform: rotate(-5.85deg);
      flex-shrink: 0;
    }
    .business_suggest_columns {
      display: flex;
      .business_suggest_first-column {
        margin-left: 30px;
      }
      .business_suggest_column_ul {
        list-style-type: none;
        .business_suggest_column_ul_li {
          display: flex;
          align-items: center;
          gap: 20px;
          align-self: stretch;
          .business_suggest_column_img {
            width: 80px;
            height: 80px;
          }
          .business_suggest_column_span {
            color: #FFF;
            font-family: Circe;
            font-size: 26px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 36.4px */
            max-width: 470px;
            margin-top: 40px;
            & span {
              text-decoration: underline;
              text-decoration-color: #EAD61E;
              text-underline-offset: 6px;
            }
          }
        }
      }
    }
  }
//************************************************************************************************// 
  .business_event-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    .business_event-feed_img {
      width: 1044px;
      height: 546px;
    }
    .business_event_span {
      color: #C7BFE3;
      font-family: Circe;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
    }
  }

  .business_bonus {
    background: url("../../assets/map.png") 50% / cover no-repeat;
    display: flex;
    justify-content: space-around;
    .business_bonus_text {
      display: flex;
      flex-direction: column;
      .business_bonus_h2 {
        display: inline-block;
        color: #EAD61E;
        font-family: Angry;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        background: #000;
        transform: rotate(1deg);
      }
      .business_bonus_p {
        color: #FFF;
        font-family: Circe;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        max-width: 343px;
      }
    }
    .business_bonus_img {
      width: 900px;
      height: 562.151px;
    }
  }
}