.business {
  height: 2689px;
  background: linear-gradient(0deg, #522AE1 0%, #522AE1 100%), linear-gradient(0deg, #8311C4 0%, #8311C4 100%), #F3F2FD;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  .business_for-business {
    display: flex;
    justify-content: space-evenly;
    .business_for-business_text_ul {
      list-style-type: none;
      .business_for-business_text_ul_li {
        display: flex;
        max-height: 190px;
        color: #000;
        font-family: Angry;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 84px */
        & span {
          background-color: yellow;
        }
      }
    }
    .buisiness_for-business_img-bg {
      position: absolute;
      //z-index: -1;
      width: 200px;
      height: 190px;
      transform: rotate(4.079deg);
      flex-shrink: 0;
    }
    .business_for-business_ul {
      list-style-type: none;
      .business_for-business_ul_li {
        display: flex;
        align-items: center;
        gap: 20px;
        align-self: stretch;
        & span {
          color: #FFFFFF;
          font-family: Circe;
          font-size: 26px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 36.4px */
        }
      }
    }

    .business_for-business_img {
      display: flex;
      flex-direction: column;
      width: 645px;
      height: 709px;
      flex-shrink: 0;
    }
  }
//************************************************************************************************// 
  .bussiness_suggest {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    .bussiness_suggest_span {
      // margin-left: ;
      color: #000000;
      font-family: Angry;
      font-size: 50px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 70px */
      background-color: yellow;
      //margin-left: 10%;
    }
    .business_suggest_img-bg1 {
      width: 101px;
      height: 166px;
      transform: rotate(-10.695deg);
      flex-shrink: 0;
    }
    .business_suggest_img-bg2 {
      width: 176.731px;
      height: 200.453px;
      transform: rotate(-5.85deg);
      flex-shrink: 0;
    }
    .bussiness_suggest_columns {
      display: flex;
      .bussiness_suggest_first-column {
        margin-left: 30px;
      }
      .bussiness_suggest_column_ul {
        list-style-type: none;
        .bussiness_suggest_column_ul_li {
          display: flex;
          align-items: center;
          gap: 20px;
          align-self: stretch;
          .bussiness_suggest_column_img {
            display: flex;
            width: 40px;
            height: 26.667px;
            flex-shrink: 0;
            margin-right: 10px;
            background-color: white;
            // border-radius: px;
          }
          .bussiness_suggest_column_span {
            color: #FFF;
            font-family: Circe;
            font-size: 26px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 36.4px */
            max-width: 65%;
            & span {
              text-decoration: underline;
              text-decoration-color: yellow;
              text-underline-offset: 6px;
            }
          }
        }
      }
    }
  }
//************************************************************************************************// 
  .bussiness_event-feed {
    display: flex;
    justify-content: space-evenly;
    .bussiness_event-feed_ul {
      list-style-type: none;
      width: 100%;
      align-items: center;
      .bussiness_event-feed_img {
        display: flex;
        align-items: flex-start;
        gap: 54px;
      }
      .bussiness_event-feed_span {
        color: #C7BFE3;
        text-align: center;
        font-family: Circe;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 28px */
      }
    }
  }
}