.thirdMission {
    display: flex;
    justify-content: space-evenly;
    height: 360px;
    background: url(../../assets/backGroundPaper.jfif), lightgray 50% / cover no-repeat;
    .thirdMission_text {
        display: flex;
        flex-direction: column;
        .thirdMission_text_h2 {
            display: flex;
            flex-direction: column;
            color: #000;
            font-family: Angry;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            .thirdMission_text_h2_signed {
                background: #EAD61E;
                transform: rotate(1deg);
                padding: 0 12px 0 12px
            }
        }
    }
    .thirdMission_ul {
        list-style-type: none;
        .thirdMission_ul_li {
            display: flex;
            align-items: center;
            &:first-child {
                margin-top: 43px;
            }
        }
        .thirdMission_ul_li span {
            color: #000;
            font-family: Circe;
            font-size: 26px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            margin-left: 16px;
            max-width: 600px;
            margin-top: 20px;
            & span {
                font-weight: 700;
            }
        }
    }
    .dicamp-thirdMission_ul_a {
        color: #240EB9;
        font-family: Circe;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        border-bottom: 2px dashed #240EB9;
    }
    .thirdMission_img {
        width: 123px;
        height: 279px;
        position: relative;
        top: 82px;
    }
}